---
import Layout from "../layouts/Layout.astro";

// Componentes de la página
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Secciones / páginas
import Inicio from "../pages/Inicio.astro";
import Categorias from "../pages/Categorias.astro";
import TecnicasCulturas from "../pages/TecnicasCulturas.astro";
import SobreNosotros from "../pages/SobreNosotros.astro";
---

<Layout title="PeruShop">
  <Header />

  <main>
    <Inicio />
    <Categorias />
    <hr />
    <TecnicasCulturas />
    <SobreNosotros />
  </main>

  <Footer />
</Layout>
