<!-- Sección Sobre Nosotros -->
<section id="nosotros" class="py-20 bg-crema">
  <div class="container mx-auto px-6 text-center max-w-6xl">
    <!-- Título de la sección -->
    <h2 class="text-3xl md:text-4xl font-semibold text-red mb-2">
      Sobre Nosotros
    </h2>

    <!-- Línea decorativa debajo del título -->
    <div class="w-24 h-[2px] bg-primary mx-auto mb-10"></div>

    <!-- Misión -->
    <div class="flex flex-col md:flex-row items-center mb-12 gap-10 md:gap-40">
      <!-- Imagen de la Misión -->
      <img
        src="nosotros/mision.jpg"
        alt="Misión"
        class="w-full h-80 object-cover order-2 md:order-1"
      />

      <!-- Contenido textual de la Misión -->
      <div class="text-left order-1 md:order-2">
        <h3 class="text-2xl font-semibold text-red mb-3 text-center">Misión</h3>
        <p class="text-gray-700 leading-relaxed text-justify">
          Ofrecer una cuidadosa selección de productos peruanos auténticos y de
          alta calidad a los consumidores, garantizando una experiencia de
          compra eficiente y confiable que aumente la cultura del Perú en cada
          entrega.
        </p>
      </div>
    </div>

    <!-- Visión -->
    <div
      class="flex flex-col md:flex-row-reverse items-center gap-10 md:gap-40">
      <!-- Imagen de la Visión -->
      <img
        src="nosotros/vision.jpg"
        alt="Visión"
        class="w-full h-80 object-cover order-2 md:order-1"
      />

      <!-- Contenido textual de la Visión -->
      <div class="text-left order-1 md:order-2">
        <h3 class="text-2xl font-semibold text-red mb-3 text-center">Visión</h3>
        <p class="text-gray-700 leading-relaxed text-justify">
          Ser el puente comercial que conecte la riqueza artesanal de los
          productos peruanos con el exigente mercado latino, para que cada
          consumidor pueda experimentar la autenticidad, calidad y diversidad
          del Perú.
        </p>
      </div>
    </div>
  </div>
</section>
