<!-- Sección Técnicas y Culturas -->
<section id="tecnicas" class="py-20 text-center">
  <div class="container mx-auto px-6 max-w-6xl">
    <!-- Título de la sección -->
    <h2 class="text-3xl md:text-4xl font-semibold text-red mb-2">
      Técnicas y Culturas
    </h2>

    <!-- Descripción de la sección -->
    <p class="text-gray-700 mb-12 text-lg">
      Detrás de cada pieza hay una historia profunda con las culturas del Perú
    </p>

    <!-- Grid de técnicas y culturas -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-12">
      <!-- Cerámica de Chulucanas -->
      <div
        class="bg-crema rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
        <div class="p-5">
          <h3 class="text-lg font-bold mb-2 text-gray-900">
            Cerámica de Chulucanas
          </h3>
          <p class="text-sm text-gray-700 mb-4">
            Originaria de Piura, famosa por su técnica de “paleado” que crea
            contrastes únicos de brillo y mate.
          </p>
        </div>
        <img
          src="tecnicas/ceramicaChu.jpg"
          alt="Cerámica de Chulucanas"
          class="w-full h-70 object-cover"
        />
      </div>

      <!-- Textiles Shipibo-Conibo -->
      <div
        class="bg-crema rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
        <div class="p-5">
          <h3 class="text-lg font-bold mb-2 text-gray-900">
            Textiles Shipibo - Conibo
          </h3>
          <p class="text-sm text-gray-700 mb-4">
            Reconocibles por sus complejos diseños geométricos “kené” que
            representan la cosmovisión y la energía vital de la selva.
          </p>
        </div>
        <img
          src="tecnicas/textilesShi.jpg"
          alt="Textiles Shipibo - Conibo"
          class="w-full h-70 object-cover"
        />
      </div>

      <!-- Arte Piedra de Huamanga -->
      <div
        class="bg-crema rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
        <div class="p-5">
          <h3 class="text-lg font-bold mb-2 text-gray-900">
            Arte Piedra de Huamanga
          </h3>
          <p class="text-sm text-gray-700 mb-4">
            Esculturas talladas en alabastro piedra de Huamanga, con motivos
            religiosos y costumbristas de exquisito detalle.
          </p>
        </div>
        <img
          src="tecnicas/artePiedra.jpg"
          alt="Arte Piedra de Huamanga"
          class="w-full h-70 object-cover"
        />
      </div>

      <!-- Telar de Cintura -->
      <div
        class="bg-crema rounded-lg shadow-md overflow-hidden hover:shadow-lg transition">
        <div class="p-5">
          <h3 class="text-lg font-bold mb-2 text-gray-900">Telar de Cintura</h3>
          <p class="text-sm text-gray-700 mb-4">
            Una técnica precolombina utilizada por las artesanas de Ayacucho y
            Cusco para crear telas de color con simbolismo.
          </p>
        </div>
        <img
          src="tecnicas/telarCintura.jpg"
          alt="Telar de Cintura"
          class="w-full h-70 object-cover"
        />
      </div>
    </div>
  </div>
</section>
